<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text = "#{attendant.main.title}">Attendant Panel </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div style="text-align: right; padding: 10px; position: absolute; top: 10px; right: 20px; z-index: 100;">
        <a th:href="@{?lang=it}" style="text-decoration: none; font-weight: bold;" th:text="#{lang.it}">🇮🇹 IT</a>
        <span style="color: #333;">|</span>
        <a th:href="@{?lang=en}" style="text-decoration: none; font-weight: bold;" th:text="#{lang.en}">🇬🇧 EN</a>
    </div>

    <div style="width: 100%; max-width: 600px;">

        <div class="card">
            <h3 th:text = "#{attendant.main.header}">Distributor State Control</h3>
            <div class="form-group">
                <label for="dist-id" th:text = "#{attendant.main.label}">Insert attendant-id</label>
                <input type="text" id="dist-id" th:placeholder="#{attendant.main.placeholder}">
            </div>
            <button type = "submit" th:text = "#{attendant.main.button}">Upload State</button>
            <a th:href=@{/attendant/login} style="color: #dc3545; text-decoration: none; margin-top: 20px; text-align: center; display: block;">Logout</a>
        </div>

        <div class="card" id="results-status">
            <h4>Distributor state: Online</h4>
            <ul style="list-style-position: inside; margin-top: 15px; font-size: 1.1rem; line-height: 1.6;">
                <li th:inline="text">[[#{attendant.main.status.coffee}]] <span style="font-weight: 600;">80%</span></li>
                <li th:inline="text">[[#{attendant.main.status.cups}]] <span style="font-weight: 600;">55%</span></li>
                <li th:inline="text">[[#{attendant.main.status.sugar}]] <span style="font-weight: 600;">70%</span></li>
                <li th:inline="text">
                    [[#{attendant.main.status.faults}]] 
                    <span style="color: #dc3545; font-weight: 600;" th:text="#{attendant.main.status.faults_value}">Coin block (E-05)</span>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>