<!DOCTYPE html>
<html lang = "en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset = "ITF-8">
    <meta name = "viewport" content = "width=device-width, inital-scale=1.0">
    <title th:text = "#{distributor.title}">Coffee Distributor</title>
    <link rel ="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div style="text-align: right; padding: 10px; position: absolute; top: 10px; right: 20px; z-index: 100;">
        <a th:href="@{?lang=it}" style="text-decoration: none; font-weight: bold;" th:text="#{lang.it}">🇮🇹 IT</a>
        <span style="color: #333;">|</span>
        <a th:href="@{?lang=en}" style="text-decoration: none; font-weight: bold;" th:text="#{lang.en}">🇬🇧 EN</a>
    </div>

    <div class="card distributor-container">
        <div class="distributor-header">
            <h3 th:text = "#{distributor.user}">User: Alessio Alduina</h3>
            <p th:text = "#{distributor.credit}">Credit: € 2.50</p>
        </div>

        <div class="drinks-grid">
            <button th:text="#{distributor.drink.coffee}">Espresso Coffee</button>
            <button th:text="#{distributor.drink.long_coffee}">American Coffee</button>
            <button th:text="#{distributor.drink.cappuccino}">Cappuccino</button>
            <button th:text="#{distributor.drink.chocolate}">Chocolate</button>
            <button th:text="#{distributor.drink.tea}">Lemon Thè</button>
            <button th:text="#{distributor.drink.latte}">Macchiato Milk</button>
        </div>

        <div class="sugar-options">
            <label th:text = "#{distributor.sugar.label}">Sugar:</label>
            <input type="range" min="0" max="5" value="2" step="1">
            <span th:text = "#{distributor.sugar.value}">Medium</span>
        </div>

        <button id="purchase" th:text = "#{distributor.button.buy}">Dispensa Drink</button>
    </div>
</body>
</html>