<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, inital-scale=1.0">
    <title th:text = "#{distributor.title}">Coffee Distributor</title>
    <link rel ="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <script th:src="@{/js/main.js}"></script>

    <div class="language-switcher">
    
    <th:block th:with="currentLang=${#locale.language}">
        
        <button onclick="toggleLangDropdown()" class="dropdown-toggle">
            
            <span th:if="${currentLang == 'it'}">🇮🇹</span>
            <span th:unless="${currentLang == 'it'}">🇬🇧</span>
            
            <span th:if="${currentLang == 'it'}" th:text="#{lang.it}">IT</span>
            <span th:unless="${currentLang == 'it'}" th:text="#{lang.en}">EN</span>

            <span style="font-size: 0.8em; margin-left: 5px;">▼</span>
        </button>
        
        <div id="lang-dropdown" class="dropdown-content">
            <a th:href="@{?lang=en}">
                <img src="https://flagcdn.com/16x12/gb.png" alt="GB Flag">
                <span th:text="#{lang.en}">EN</span>
            </a>
            <a th:href="@{?lang=it}">
                <img src="https://flagcdn.com/16x12/it.png" alt="IT Flag">
                <span th:text="#{lang.it}">IT</span>
            </a>
        </div>
        
    </th:block>
</div>

    <div class="card distributor-container">
        <div class="distributor-header">
            <h3 th:text = "#{distributor.user}">User: Alessio Alduina</h3>
            <p th:text = "#{distributor.credit}">Credit: € 2.50</p>
        </div>

        <div class="drinks-grid">
            <button th:text="#{distributor.drink.coffee}">Espresso Coffee</button>
            <button th:text="#{distributor.drink.long_coffee}">American Coffee</button>
            <button th:text="#{distributor.drink.cappuccino}">Cappuccino</button>
            <button th:text="#{distributor.drink.chocolate}">Chocolate</button>
            <button th:text="#{distributor.drink.tea}">Lemon Thè</button>
            <button th:text="#{distributor.drink.latte}">Macchiato Milk</button>
        </div>

        <div class="sugar-options">
            <label th:text = "#{distributor.sugar.label}">Sugar:</label>
            <input type="range" min="0" max="5" value="2" step="1">
            <span th:text = "#{distributor.sugar.value}">Medium</span>
        </div>

        <button id="purchase" th:text = "#{distributor.button.buy}">Dispensa Drink</button>
    </div>
</body>
</html>